{%extends "base.html"%}
{%block body%}

<div class="form">  
    <div class="container" style="width: min-content">
        <br>
    <h2 style="text-align:center", style="font-family: sans-serif">Enter Admin details</h2>
    <br>
    <br>
    <form action="/addadmin" method="POST">
        <h6 style="text-align:left" >Username</h6>
        <center><input type="text" name="uname" id="uname" required value={{item[3]}}></center>
        <h6 style="text-align:left" >Password</h6>
        <center><input type="password" name="password" id="password" required value={{item[11]}}></center>
        <h6 style="text-align:left" >Name</h6>
        <center><input type="text" name="FN" id="FN" placeholder="First" required value={{item[1]}}></center>
       <br>
       <center><input type="text" name="LN" id="LN" placeholder="Last" value={{item[2]}}></center>
       Email:
       <center><input type="text" name="email" id ="email" placeholder="name@email.com" required value={{item[6]}}></center>
        <h6 style="text-align:left" >Phone Number</h6>
        <center><input type="text" name="Phone"  id="Phone" required value={{item[5]}}></center>
       <center><input type="submit" value="Add Patient" style="background-position: center" ></center> 
       <br>
       <br>
    </form>
    </div>
</div>
{%endblock%}